header {
  text-align: center;
  background-color: rgb(148, 24, 24);
}
nav {
  background-color: black;
}
nav,
a {
  display: block;
  text-decoration: none;
  color: white;
}
table {
  width: 100%;
}
table td {
  vertical-align: top;
}
aside {
  background-color: rgb(148, 24, 24);
  height: 100%;
}
table {
  border-spacing: 0;
  padding: 0;
}
.menu,
.title {
  width: 20%;
  text-align: center;
}
.menu {
  background-color: rgb(196, 37, 37);
  line-height: 2;
}
.text {
  width: 60%;
  background-color: rgb(196, 37, 37);
  color: white;
  padding: 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  width: 50%;
  height: 100%;
}
h4 {
  color: black;
  background-color: rgb(184, 178, 178);
}
article {
  background-color: bisque;
}
footer {
  text-align: center;
}
footer,
div {
  color: white;
  background-color: orangered;
}
